<ul>

  <li *ngFor="let course of courses$ | async">
    {{ course || course.name }}
    <button (click)="update(course)">Update</button>
    <button (click)="remove(course)">Delete</button>
  </li> <!--Async destruye la subscripción cuando el componente se destruye (cuando se va a otra pag) -->
 <!-- visualizo course.name si course esta nulo, porque tengo una clave que en vez de un valor primitivo, es un objeto con .name. no funciona porque no es nulo, es tipo objeto-->
</ul>

<button (click)="ngOnDestroy()">Go Offline</button>

<p>{{ course$ | async | json }}</p>
<p>{{ author$ | async | json }}</p>

<ul *ngIf="author$ | async as author">    <!-- nos aseguramos que exista y le ponemos un alias a la condición para usarla luego-->
    <li>{{ author.isPremium }}</li>
    <li>{{ author.name }}</li>
    <li>{{ author.students }}</li>
  <!-- {{ (author$ | async).name tambien deberia funcionar pero falla porque a veces da null? }}-->
</ul>

<input type="text" (keyup.enter)="add(courseInput)" #courseInput>